<div class="poll-detail__section" *ngIf="pollToDisplay">
  <div class="row">
    <div class="col center-align s12 m6">
      <h2 class="header center-align">{{pollToDisplay.title}}</h2>
      <div class="input-field" *ngIf="pollToDisplay && !alreadyVoted">
        <form (ngSubmit)="onVoteSubmit()">
          <select [(ngModel)]="selectedOption" [ngModelOptions]="{standalone: true}" materialize="material_select" [materializeSelectOptions]="pollToDisplay.labels">
            <option value="" disabled selected>Choose your option</option>
            <option *ngFor="let option of pollToDisplay.labels; let i = index" [ngValue]="i" name="option">{{option}}</option>
          </select>
          <label>I'd like to vote for:</label>
          <button type="submit" class="btn waves-effect waves-light poll-detail__btn">Vote
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
      <div class="card-panel red-easy" *ngIf="alreadyVoted">
        <h5 class="white-text">You already voted on this poll</h5>
      </div>

    </div>
    <div class="col s12 m6">
      <canvas baseChart class="poll-small" [data]=pollToDisplay.votes [labels]=pollToDisplay.labels chartType="doughnut">
      </canvas>
      <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
          <li>
            <a materialize="tooltip" class="tooltipped btn-floating green modal-trigger" (click)="openAddModal()" data-position="top"
              data-delay="50" data-tooltip="Add new option"><i class="material-icons">add</i></a>
          </li>
          <li>
            <a materialize="tooltip" class="tooltipped btn-floating blue" (click)="shareOnTwitter()" data-position="top" data-delay="50"
              data-tooltip="Share via twitter"><i class="material-icons">forward</i></a>
          </li>
          <li>
            <a materialize="tooltip" class="tooltipped btn-floating red modal-trigger" (click)="openDeleteModal()" data-position="top"
              data-delay="50" data-tooltip="Delete this poll"><i class="material-icons">remove</i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Add Option Modal Structure -->
<div id="addModal" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="addModalActions">
  <div class="modal-content">
    <!--<h4>Add new option</h4>-->
    <div class="input-field">
      <form (ngSubmit)="onOptionSubmit()">
        <input [(ngModel)]="newOption" name="newOption" placeholder="Please enter the option you'd like to add" type="text">
        <label for="newOption">New option</label>
        <div class="modal-footer">
          <a class="waves-effect waves-red btn-flat" (click)="closeAddModal()">Dismiss</a>
          <button type="submit" class="btn modal-action modal-close waves-effect waves-green btn-flat">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Poll Modal Structure -->
<div id="deleteModal" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="deleteModalActions">
  <div class="modal-content">
    <h4>Do you really want to delete this poll?</h4>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeDeleteModal()">No</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="deletePoll()">Yes</a>  </div>  </div>